body{
	background-color: lightgrey;
}

h1{
	font-size: 30px;
	color: salmon;
}
h2{
	font-size: 20px;
	color: blue;
}

.big{
	font-size: 40px;
}

.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: pink;
}

h1 span{
	color: blue;
}